<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prodavnica</title>
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>
    <body>
        <%- include('partials/navbar.ejs'); %>
        <%- include('partials/messages.ejs'); %>
        <main class="section-top">
            <div class="content">
                <p class="naslov">Dobrodošli u našu prodavnicu</p>
                <br>
                
                <a class="btn btn-success shadow" style="border-radius: 30px; letter-spacing: 2px;" href="/tipovi"> Vidi proizvode</a>
            </div>
    </main> 
        <%- include('partials/footer.ejs'); %>